In [ ]:
#pip install python-dotenv
# nur beim ersten Mal ausführen

# Sichtbarer Key

In [ ]:
import requests

#url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=IBM&apikey=8FSRZYX36C4RES04" 
#response = requests.get(url)
#print(response.status_code)
#data = response.json()
#print(data)

#  Key mit .env

In [ ]:
#import requests
#import os

#from dotenv import load_dotenv

# # .env-Datei laden
# load_dotenv()

# # API-Key aus Umgebungsvariable holen
# api_key = os.getenv("API_ALPHA")

# # URL IBN
# url = f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=IBM&apikey={api_key}"

# # Anfrage senden
# response = requests.get(url)
# print(response.status_code)

# # Antwort verarbeiten
# data = response.json()
# print(data)

# Beispiel IBM

In [ ]:
# import requests
# import os
# from dotenv import load_dotenv

# # .env-Datei laden
# load_dotenv()

# # API-Key aus Umgebungsvariable holen
# api_key = os.getenv("API_ALPHA")

# # URL zusammenbauen
# url = f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=IBM&apikey={api_key}"

# # Anfrage senden
# response = requests.get(url)
# print("Status Code:", response.status_code)

# if response.status_code == 200:
#     data = response.json()

#     # Zeitreihe extrahieren
#     time_series = data.get("Time Series (Daily)", {})

#     # Sortiert nach Datum (absteigend)
#     for date in sorted(time_series.keys(), reverse=True):
#         daily_data = time_series[date]
#         print(f"Datum: {date}")
#         print(f"  Open:   {daily_data['1. open']}")
#         print(f"  High:   {daily_data['2. high']}")
#         print(f"  Low:    {daily_data['3. low']}")
#         print(f"  Close:  {daily_data['4. close']}")
#         print(f"  Volume: {daily_data['5. volume']}")
#         print("-" * 30)
# else:
#     print("Fehler beim Abrufen der Daten.")

Aufgabe : Entwerfen Sie eine SQL-Tabelle, die die Daten dieses API-Endpunkts enthält. 
Fordern Sie die Daten anschließend an und bringen Sie sie in die richtige Form. 
Wenn Sie möchten, können Sie die Daten zunächst in eine SQLite-Datenbank übertragen. 
Später in dieser Woche werden wir jedoch eine Cloud-Postgres-Datenbank auf Supabase bereitstellen.

In [ ]:
'''import requests
import os
from dotenv import load_dotenv

load_dotenv()
api_key = os.getenv("API_ALPHA")

url = f"https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol=BTC&market=USD&apikey={api_key}"
response = requests.get(url)
data = response.json()

if "Time Series (Digital Currency Daily)" in data:
    ts = data["Time Series (Digital Currency Daily)"]
    first_date = next(iter(ts))
    values = ts[first_date]
    print(f"Datum: {first_date}")
    print(f"Öffnungskurs: {values.get('1a. open (USD)', 'n.v.')}")
    print(f"Schlusskurs:  {values.get('4a. close (USD)', 'n.v.')}")
else:
    print("❌ Fehler oder keine Daten erhalten:")
    print(data)
'''

In [ ]:
'''import requests
import os
from dotenv import load_dotenv

# .env-Datei laden
load_dotenv()

# API-Key aus Umgebungsvariable holen
api_key = os.getenv("API_ALPHA")

# URL zusammenbauen
url = f"https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol=BTC&market=USD&apikey={api_key}"

# Anfrage senden
response = requests.get(url)
print("Status Code:", response.status_code)

if response.status_code == 200:
    data = response.json()

    # Zeitreihe extrahieren
    time_series = data.get("Time Series (Daily)", {})

    # Sortiert nach Datum (absteigend)
    for date in sorted(time_series.keys(), reverse=True):
        daily_data = time_series[date]
        print(f"Datum: {date}")
        print(f"  Open:   {daily_data['1. open']}")
        print(f"  High:   {daily_data['2. high']}")
        print(f"  Low:    {daily_data['3. low']}")
        print(f"  Close:  {daily_data['4. close']}")
        print(f"  Volume: {daily_data['5. volume']}")
        print("-" * 30)
else:
    print("Fehler beim Abrufen der Daten.")'''

## Bitcointracker

In [1]:
import requests
import os
from dotenv import load_dotenv
import pandas as pd

load_dotenv()
api_key = os.getenv("API_ALPHA")

stock = "BTC"

url = f"https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol={stock}&market=USD&apikey={api_key}"

response = requests.get(url)
print("Status Code:", response.status_code)

if response.status_code == 200:
    data = response.json()
    time_series = data.get("Time Series (Digital Currency Daily)", {})

    if not time_series:
        print("Keine Zeitreihendaten gefunden. API-Antwort:")
        print(data)
    else:
        rows = []
        for date, daily_data in time_series.items():
            rows.append({
                "date": date,
                "open": float(daily_data.get("1. open", 0)),
                "high": float(daily_data.get("2. high", 0)),
                "low": float(daily_data.get("3. low", 0)),
                "close": float(daily_data.get("4. close", 0)),
                "volume": float(daily_data.get("5. volume", 0)),
            })

        df = pd.DataFrame(rows)
        df["date"] = pd.to_datetime(df["date"])
        df = df.sort_values(by="date")

        print(df.head())  # Ausgabe der ersten Zeilen

else:
    print("Fehler beim Abrufen der Daten.")

Status Code: 200
          date      open      high       low     close       volume
349 2024-06-19  65150.90  65709.26  64635.48  64943.79  4958.383613
348 2024-06-20  64945.67  66455.52  64500.00  64840.88  9346.708079
347 2024-06-21  64840.89  65017.10  63300.93  64120.28  9816.795999
346 2024-06-22  64120.28  64523.91  63910.01  64235.01  2324.215004
345 2024-06-23  64235.00  64499.95  63125.75  63171.43  2054.790924

In [2]:
df.to_csv("bitcoin_data.csv")

# Script hangt nun die neusten Daten an

In [3]:
import pandas as pd
import os

def load_existing_csv(filepath):
    if os.path.exists(filepath):
        return pd.read_csv(filepath, parse_dates=["date"])
    return pd.DataFrame()

def save_data(df, filepath):
    df.to_csv(filepath, index=False)

def main():
    # 1. Daten aus API laden (dein Code hier)

    # 2. Bestehende CSV laden
    existing_df = load_existing_csv("bitcoin_data.csv")
    # 3. Neue Daten in DataFrame df laden (API-Daten)

    
    # 4. Neue Daten mit bestehendem DataFrame zusammenfügen, doppelte Einträge entfernen
    combined_df = pd.concat([existing_df, df]).drop_duplicates(subset=["date"]).sort_values(by="date")
    # 5. Speichern
    save_data(combined_df, "bitcoin_data.csv")

if __name__ == "__main__":
    main()

## Angepasster Code Fügt eine Datei zum bestehdnen CSV an

In [34]:
import requests
import pandas as pd
import os
from dotenv import load_dotenv

# Lade Umgebungsvariablen (API-Key)
load_dotenv()
api_key = os.getenv("API_ALPHA")

# CSV-Dateipfad
csv_filepath = "bitcoin_data.csv"

def fetch_bitcoin_data():
    url = f"https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol=BTC&market=USD&apikey={api_key}"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        time_series = data.get("Time Series (Digital Currency Daily)", {})
        
        records = []
        for date, values in time_series.items():
            records.append({
                "date": date,
                "open": values.get("1a. open (USD)", "n.v."),
                "high": values.get("2a. high (USD)", "n.v."),
                "low": values.get("3a. low (USD)", "n.v."),
                "close": values.get("4a. close (USD)", "n.v."),
                "volume": values.get("5. volume", "n.v.")
            })
        
        return pd.DataFrame(records)
    else:
        print("Fehler beim Abrufen der API-Daten.")
        return pd.DataFrame()

def load_existing_csv(filepath):
    if os.path.exists(filepath):
        return pd.read_csv(filepath, parse_dates=["date"])
    return pd.DataFrame()

def save_data(df, filepath):
    df.to_csv(filepath, index=False)

def main():
    # 1. Neue Daten aus der API laden
 

    df = fetch_bitcoin_data()
    df["date"] = pd.to_datetime(df["date"])
    if df.empty:
        print("Keine neuen Daten verfügbar.")
        return

    # 2. Bestehende CSV-Datei laden
    existing_df = load_existing_csv(csv_filepath)

    # 3. Daten kombinieren, Duplikate entfernen und sortieren
    combined_df = pd.concat([existing_df, df])
    combined_df = combined_df.drop_duplicates(subset=["date"]).sort_values(by="date")

    # 4. CSV speichern
    save_data(combined_df, csv_filepath)
    print(f"{len(combined_df)} Datensätze gespeichert in '{csv_filepath}'.")

if __name__ == "__main__":
    main()

356 Datensätze gespeichert in 'bitcoin_data.csv'.

## Verbindung zu SUPABASE

In [5]:
dbconn = os.getenv("DBCONN")

In [6]:
import psycopg2

## Servertest

Nochmal

In [7]:
import os
import psycopg2
from dotenv import load_dotenv

# .env Datei laden
load_dotenv()

# Datenbank-URL aus .env holen
DATABASE_URL = os.getenv("DATABASE_URL")

if not DATABASE_URL:
    raise ValueError("DATABASE_URL ist nicht gesetzt!")

try:
    # Verbindung aufbauen
    conn = psycopg2.connect(DATABASE_URL)
    
    # Cursor erstellen
    cur = conn.cursor()
    
    # Beispielabfrage
    cur.execute("SELECT NOW();")
    result = cur.fetchone()
    print("Verbindung erfolgreich! Serverzeit:", result[0])
    
    # Cursor und Verbindung schließen
    cur.close()
    conn.close()
    
except Exception as e:
    print("Fehler bei der Verbindung:", e)

Verbindung erfolgreich! Serverzeit: 2025-06-03 08:20:32.822909+00:00

In [8]:
import os
import psycopg2
from dotenv import load_dotenv

# .env laden
load_dotenv()

# DATABASE_URL aus Umgebungsvariablen holen
DATABASE_URL = os.getenv("DATABASE_URL")

try:
    # Verbindung zur DB herstellen
    conn = psycopg2.connect(DATABASE_URL)

    # Cursor erstellen
    cur = conn.cursor()

    # Einfache Abfrage zum Testen
    cur.execute("SELECT NOW();")
    result = cur.fetchone()
    print("Verbindung erfolgreich! Serverzeit:", result[0])

    # Cursor und Verbindung schließen
    cur.close()
    conn.close()

except Exception as e:
    print("Fehler bei der Verbindung:", e)

Verbindung erfolgreich! Serverzeit: 2025-06-03 08:20:33.161623+00:00

In [24]:
df.tail()

        date       open       high        low      close       volume
4 2025-05-30  105572.58  106377.66  103634.48  104033.26  7866.162412
3 2025-05-31  104033.00  104965.50  103110.01  104645.87  2403.608244
2 2025-06-01  104645.87  105937.46  103800.81  105697.94  2369.928916
1 2025-06-02  105697.93  106000.00  103685.23  105904.94  5818.585225
0 2025-06-03  105909.79  106474.89  105798.68  106302.91   193.137262

In [9]:
import os
import psycopg2
from dotenv import load_dotenv

load_dotenv()
dbconn = os.getenv("DATABASE_URL")

def create_table():
    conn = psycopg2.connect(dbconn)
    cur = conn.cursor()
    cur.execute(
        '''
        CREATE TABLE IF NOT EXISTS api_data (
            date TIMESTAMP PRIMARY KEY,
            open FLOAT,
            high FLOAT,
            low FLOAT,
            close FLOAT,
            volume FLOAT
        );
        '''
    )
    conn.commit()
    cur.close()
    conn.close()

create_table()

In [10]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\cumdi\anaconda3\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\cumdi\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)
Note: you may need to restart the kernel to use updated packages.

Um ältere Daten aus einer anderen CSV-Datei zu ergänzen, kannst du beide CSV-Dateien einlesen, zusammenführen, Duplikate entfernen und dann wie gewohnt weiterverarbeiten.

**So geht’s:**

In [36]:
import pandas as pd

# Beide Dateien laden
df_main = pd.read_csv("bitcoin_data.csv", parse_dates=["date"])
df_new = pd.read_csv("bitcoin_data_.csv", parse_dates=["date"])

# Kombinieren und nur neue Zeilen übernehmen
df_combined = pd.concat([df_main, df_new])

# Nur die erste Zeile pro Datum behalten (also df_main bevorzugen)
df_combined = df_combined.drop_duplicates(subset=["date"], keep="first")

# Nach Datum sortieren (optional, aber sauber)
df_combined = df_combined.sort_values("date").reset_index(drop=True)

# Speichern (optional)
df_combined.to_csv("bitcoin_data.csv", index=False)

# Weiterverarbeiten
insert_df_to_db(df_combined)

2024-06-13 00:00:00
2024-06-14 00:00:00
2024-06-15 00:00:00
2024-06-16 00:00:00
2024-06-17 00:00:00
2024-06-18 00:00:00
2024-06-19 00:00:00
2024-06-20 00:00:00
2024-06-21 00:00:00
2024-06-22 00:00:00
2024-06-23 00:00:00
2024-06-24 00:00:00
2024-06-25 00:00:00
2024-06-26 00:00:00
2024-06-27 00:00:00
2024-06-28 00:00:00
2024-06-29 00:00:00
2024-06-30 00:00:00
2024-07-01 00:00:00
2024-07-02 00:00:00
2024-07-03 00:00:00
2024-07-04 00:00:00
2024-07-05 00:00:00
2024-07-06 00:00:00
2024-07-07 00:00:00
2024-07-08 00:00:00
2024-07-09 00:00:00
2024-07-10 00:00:00
2024-07-11 00:00:00
2024-07-12 00:00:00
2024-07-13 00:00:00
2024-07-14 00:00:00
2024-07-15 00:00:00
2024-07-16 00:00:00
2024-07-17 00:00:00
2024-07-18 00:00:00
2024-07-19 00:00:00
2024-07-20 00:00:00
2024-07-21 00:00:00
2024-07-22 00:00:00
2024-07-23 00:00:00
2024-07-24 00:00:00
2024-07-25 00:00:00
2024-07-26 00:00:00
2024-07-27 00:00:00
2024-07-28 00:00:00
2024-07-29 00:00:00
2024-07-30 00:00:00
2024-07-31 00:00:00
2024-08-01 00:00:00
2024-08-02 00:00:00
2024-08-03 00:00:00
2024-08-04 00:00:00
2024-08-05 00:00:00
2024-08-06 00:00:00
2024-08-07 00:00:00
2024-08-08 00:00:00
2024-08-09 00:00:00
2024-08-10 00:00:00
2024-08-11 00:00:00
2024-08-12 00:00:00
2024-08-13 00:00:00
2024-08-14 00:00:00
2024-08-15 00:00:00
2024-08-16 00:00:00
2024-08-17 00:00:00
2024-08-18 00:00:00
2024-08-19 00:00:00
2024-08-20 00:00:00
2024-08-21 00:00:00
2024-08-22 00:00:00
2024-08-23 00:00:00
2024-08-24 00:00:00
2024-08-25 00:00:00
2024-08-26 00:00:00
2024-08-27 00:00:00
2024-08-28 00:00:00
2024-08-29 00:00:00
2024-08-30 00:00:00
2024-08-31 00:00:00
2024-09-01 00:00:00
2024-09-02 00:00:00
2024-09-03 00:00:00
2024-09-04 00:00:00
2024-09-05 00:00:00
2024-09-06 00:00:00
2024-09-07 00:00:00
2024-09-08 00:00:00
2024-09-09 00:00:00
2024-09-10 00:00:00
2024-09-11 00:00:00
2024-09-12 00:00:00
2024-09-13 00:00:00
2024-09-14 00:00:00
2024-09-15 00:00:00
2024-09-16 00:00:00
2024-09-17 00:00:00
2024-09-18 00:00:00
2024-09-19 00:00:00
2024-09-20 00:00:00
2024-09-21 00:00:00
2024-09-22 00:00:00
2024-09-23 00:00:00
2024-09-24 00:00:00
2024-09-25 00:00:00
2024-09-26 00:00:00
2024-09-27 00:00:00
2024-09-28 00:00:00
2024-09-29 00:00:00
2024-09-30 00:00:00
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-05 00:00:00
2024-10-06 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-12 00:00:00
2024-10-13 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-19 00:00:00
2024-10-20 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-26 00:00:00
2024-10-27 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
2024-11-01 00:00:00
2024-11-02 00:00:00
2024-11-03 00:00:00
2024-11-04 00:00:00
2024-11-05 00:00:00
2024-11-06 00:00:00
2024-11-07 00:00:00
2024-11-08 00:00:00
2024-11-09 00:00:00
2024-11-10 00:00:00
2024-11-11 00:00:00
2024-11-12 00:00:00
2024-11-13 00:00:00
2024-11-14 00:00:00
2024-11-15 00:00:00
2024-11-16 00:00:00
2024-11-17 00:00:00
2024-11-18 00:00:00
2024-11-19 00:00:00
2024-11-20 00:00:00
2024-11-21 00:00:00
2024-11-22 00:00:00
2024-11-23 00:00:00
2024-11-24 00:00:00
2024-11-25 00:00:00
2024-11-26 00:00:00
2024-11-27 00:00:00
2024-11-28 00:00:00
2024-11-29 00:00:00
2024-11-30 00:00:00
2024-12-01 00:00:00
2024-12-02 00:00:00
2024-12-03 00:00:00
2024-12-04 00:00:00
2024-12-05 00:00:00
2024-12-06 00:00:00
2024-12-07 00:00:00
2024-12-08 00:00:00
2024-12-09 00:00:00
2024-12-10 00:00:00
2024-12-11 00:00:00
2024-12-12 00:00:00
2024-12-13 00:00:00
2024-12-14 00:00:00
2024-12-15 00:00:00
2024-12-16 00:00:00
2024-12-17 00:00:00
2024-12-18 00:00:00
2024-12-19 00:00:00
2024-12-20 00:00:00
2024-12-21 00:00:00
2024-12-22 00:00:00
2024-12-23 00:00:00
2024-12-24 00:00:00
2024-12-25 00:00:00
2024-12-26 00:00:00
2024-12-27 00:00:00
2024-12-28 00:00:00
2024-12-29 00:00:00
2024-12-30 00:00:00
2024-12-31 00:00:00
2025-01-01 00:00:00
2025-01-02 00:00:00
2025-01-03 00:00:00
2025-01-04 00:00:00
2025-01-05 00:00:00
2025-01-06 00:00:00
2025-01-07 00:00:00
2025-01-08 00:00:00
2025-01-09 00:00:00
2025-01-10 00:00:00
2025-01-11 00:00:00
2025-01-12 00:00:00
2025-01-13 00:00:00
2025-01-14 00:00:00
2025-01-15 00:00:00
2025-01-16 00:00:00
2025-01-17 00:00:00
2025-01-18 00:00:00
2025-01-19 00:00:00
2025-01-20 00:00:00
2025-01-21 00:00:00
2025-01-22 00:00:00
2025-01-23 00:00:00
2025-01-24 00:00:00
2025-01-25 00:00:00
2025-01-26 00:00:00
2025-01-27 00:00:00
2025-01-28 00:00:00
2025-01-29 00:00:00
2025-01-30 00:00:00
2025-01-31 00:00:00
2025-02-01 00:00:00
2025-02-02 00:00:00
2025-02-03 00:00:00
2025-02-04 00:00:00
2025-02-05 00:00:00
2025-02-06 00:00:00
2025-02-07 00:00:00
2025-02-08 00:00:00
2025-02-09 00:00:00
2025-02-10 00:00:00
2025-02-11 00:00:00
2025-02-12 00:00:00
2025-02-13 00:00:00
2025-02-14 00:00:00
2025-02-15 00:00:00
2025-02-16 00:00:00
2025-02-17 00:00:00
2025-02-18 00:00:00
2025-02-19 00:00:00
2025-02-20 00:00:00
2025-02-21 00:00:00
2025-02-22 00:00:00
2025-02-23 00:00:00
2025-02-24 00:00:00
2025-02-25 00:00:00
2025-02-26 00:00:00
2025-02-27 00:00:00
2025-02-28 00:00:00
2025-03-01 00:00:00
2025-03-02 00:00:00
2025-03-03 00:00:00
2025-03-04 00:00:00
2025-03-05 00:00:00
2025-03-06 00:00:00
2025-03-07 00:00:00
2025-03-08 00:00:00
2025-03-09 00:00:00
2025-03-10 00:00:00
2025-03-11 00:00:00
2025-03-12 00:00:00
2025-03-13 00:00:00
2025-03-14 00:00:00
2025-03-15 00:00:00
2025-03-16 00:00:00
2025-03-17 00:00:00
2025-03-18 00:00:00
2025-03-19 00:00:00
2025-03-20 00:00:00
2025-03-21 00:00:00
2025-03-22 00:00:00
2025-03-23 00:00:00
2025-03-24 00:00:00
2025-03-25 00:00:00
2025-03-26 00:00:00
2025-03-27 00:00:00
2025-03-28 00:00:00
2025-03-29 00:00:00
2025-03-30 00:00:00
2025-03-31 00:00:00
2025-04-01 00:00:00
2025-04-02 00:00:00
2025-04-03 00:00:00
2025-04-04 00:00:00
2025-04-05 00:00:00
2025-04-06 00:00:00
2025-04-07 00:00:00
2025-04-08 00:00:00
2025-04-09 00:00:00
2025-04-10 00:00:00
2025-04-11 00:00:00
2025-04-12 00:00:00
2025-04-13 00:00:00
2025-04-14 00:00:00
2025-04-15 00:00:00
2025-04-16 00:00:00
2025-04-17 00:00:00
2025-04-18 00:00:00
2025-04-19 00:00:00
2025-04-20 00:00:00
2025-04-21 00:00:00
2025-04-22 00:00:00
2025-04-23 00:00:00
2025-04-24 00:00:00
2025-04-25 00:00:00
2025-04-26 00:00:00
2025-04-27 00:00:00
2025-04-28 00:00:00
2025-04-29 00:00:00
2025-04-30 00:00:00
2025-05-01 00:00:00
2025-05-02 00:00:00
2025-05-03 00:00:00
2025-05-04 00:00:00
2025-05-05 00:00:00
2025-05-06 00:00:00
2025-05-07 00:00:00
2025-05-08 00:00:00
2025-05-09 00:00:00
2025-05-10 00:00:00
2025-05-11 00:00:00
2025-05-12 00:00:00
2025-05-13 00:00:00
2025-05-14 00:00:00
2025-05-15 00:00:00
2025-05-16 00:00:00
2025-05-17 00:00:00
2025-05-18 00:00:00
2025-05-19 00:00:00
2025-05-20 00:00:00
2025-05-21 00:00:00
2025-05-22 00:00:00
2025-05-23 00:00:00
2025-05-24 00:00:00
2025-05-25 00:00:00
2025-05-26 00:00:00
2025-05-27 00:00:00
2025-05-28 00:00:00
2025-05-29 00:00:00
2025-05-30 00:00:00
2025-05-31 00:00:00
2025-06-01 00:00:00
2025-06-02 00:00:00
2025-06-03 00:00:00
✅ Datenbank aktualisiert.

In [ ]:
'''import pandas as pd

# Bestehende Daten laden
df_main = pd.read_csv("bitcoin_data.csv", parse_dates=["date"])

# Ältere Daten laden (z.B. "bitcoin_old.csv")
df_old = pd.read_csv("bitcoin_data_.csv", parse_dates=["date"])

# Zusammenführen und Duplikate entfernen
df_combined = pd.merge(df_main, df_old, on="date", how="outer")

# Optional: Speichern (überschreibt die Hauptdatei)
df_combined.to_csv("bitcoin_data_new.csv", index=False)

# Jetzt kannst du df_combined für die Datenbank verwenden:
insert_df_to_db(df_combined)'''

2024-06-13 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  349.0
date            2024-06-13 00:00:00
open_x                     68248.59
high_x                     68474.49
low_x                       66200.0
close_x                    66738.85
volume_x               11916.132111
Unnamed: 0_y                  349.0
open_y                     68248.59
high_y                     68474.49
low_y                       66200.0
close_y                    66738.85
volume_y               11916.132111
Name: 0, dtype: object
'open'
2024-06-14 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  348.0
date            2024-06-14 00:00:00
open_x                     66746.46
high_x                     67322.72
low_x                       65005.0
close_x                    66004.39
volume_x               11520.157919
Unnamed: 0_y                  348.0
open_y                     66746.46
high_y                     67322.72
low_y                       65005.0
close_y                    66004.39
volume_y               11520.157919
Name: 1, dtype: object
'open'
2024-06-15 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  347.0
date            2024-06-15 00:00:00
open_x                     66004.36
high_x                     66428.57
low_x                      65800.86
close_x                     66192.0
volume_x                2004.142155
Unnamed: 0_y                  347.0
open_y                     66004.36
high_y                     66428.57
low_y                      65800.86
close_y                     66192.0
volume_y                2004.142155
Name: 2, dtype: object
'open'
2024-06-16 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  346.0
date            2024-06-16 00:00:00
open_x                      66192.0
high_x                     66931.18
low_x                       65999.0
close_x                    66628.75
volume_x                2118.651634
Unnamed: 0_y                  346.0
open_y                      66192.0
high_y                     66931.18
low_y                       65999.0
close_y                    66628.75
volume_y                2118.651634
Name: 3, dtype: object
'open'
2024-06-17 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  345.0
date            2024-06-17 00:00:00
open_x                     66629.38
high_x                     67274.96
low_x                       65050.0
close_x                    66481.81
volume_x               14487.640609
Unnamed: 0_y                  345.0
open_y                     66629.38
high_y                     67274.96
low_y                       65050.0
close_y                    66481.81
volume_y               14487.640609
Name: 4, dtype: object
'open'
2024-06-18 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  344.0
date            2024-06-18 00:00:00
open_x                     66481.81
high_x                     66574.33
low_x                      64010.01
close_x                     65152.8
volume_x               15937.731765
Unnamed: 0_y                  344.0
open_y                     66481.81
high_y                     66574.33
low_y                      64010.01
close_y                     65152.8
volume_y               15937.731765
Name: 5, dtype: object
'open'
2024-06-19 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  343.0
date            2024-06-19 00:00:00
open_x                      65150.9
high_x                     65709.26
low_x                      64635.48
close_x                    64943.79
volume_x                4958.383613
Unnamed: 0_y                  343.0
open_y                      65150.9
high_y                     65709.26
low_y                      64635.48
close_y                    64943.79
volume_y                4958.383613
Name: 6, dtype: object
'open'
2024-06-20 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  342.0
date            2024-06-20 00:00:00
open_x                     64945.67
high_x                     66455.52
low_x                       64500.0
close_x                    64840.88
volume_x                9346.708079
Unnamed: 0_y                  342.0
open_y                     64945.67
high_y                     66455.52
low_y                       64500.0
close_y                    64840.88
volume_y                9346.708079
Name: 7, dtype: object
'open'
2024-06-21 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  341.0
date            2024-06-21 00:00:00
open_x                     64840.89
high_x                      65017.1
low_x                      63300.93
close_x                    64120.28
volume_x                9816.795999
Unnamed: 0_y                  341.0
open_y                     64840.89
high_y                      65017.1
low_y                      63300.93
close_y                    64120.28
volume_y                9816.795999
Name: 8, dtype: object
'open'
2024-06-22 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  340.0
date            2024-06-22 00:00:00
open_x                     64120.28
high_x                     64523.91
low_x                      63910.01
close_x                    64235.01
volume_x                2324.215004
Unnamed: 0_y                  340.0
open_y                     64120.28
high_y                     64523.91
low_y                      63910.01
close_y                    64235.01
volume_y                2324.215004
Name: 9, dtype: object
'open'
2024-06-23 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  339.0
date            2024-06-23 00:00:00
open_x                      64235.0
high_x                     64499.95
low_x                      63125.75
close_x                    63171.43
volume_x                2054.790924
Unnamed: 0_y                  339.0
open_y                      64235.0
high_y                     64499.95
low_y                      63125.75
close_y                    63171.43
volume_y                2054.790924
Name: 10, dtype: object
'open'
2024-06-24 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  338.0
date            2024-06-24 00:00:00
open_x                     63169.36
high_x                     63343.91
low_x                      58414.28
close_x                     60263.0
volume_x               21418.045946
Unnamed: 0_y                  338.0
open_y                     63169.36
high_y                     63343.91
low_y                      58414.28
close_y                     60263.0
volume_y               21418.045946
Name: 11, dtype: object
'open'
2024-06-25 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  343.0
date            2024-06-25 00:00:00
open_x                     60262.16
high_x                      62400.0
low_x                      60217.36
close_x                    61789.71
volume_x               15201.582477
Unnamed: 0_y                  337.0
open_y                     60262.16
high_y                      62400.0
low_y                      60217.36
close_y                    61789.71
volume_y               15201.582477
Name: 12, dtype: object
'open'
2024-06-26 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  342.0
date            2024-06-26 00:00:00
open_x                     61794.47
high_x                      62470.0
low_x                       60656.8
close_x                    60816.68
volume_x                11392.79835
Unnamed: 0_y                  336.0
open_y                     61794.47
high_y                      62470.0
low_y                       60656.8
close_y                    60816.68
volume_y                11392.79835
Name: 13, dtype: object
'open'
2024-06-27 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  341.0
date            2024-06-27 00:00:00
open_x                     60818.86
high_x                     62346.16
low_x                      60546.94
close_x                    61615.39
volume_x               10530.358988
Unnamed: 0_y                  335.0
open_y                     60818.86
high_y                     62346.16
low_y                      60546.94
close_y                    61615.39
volume_y               10530.358988
Name: 14, dtype: object
'open'
2024-06-28 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  334.0
date            2024-06-28 00:00:00
open_x                     61611.43
high_x                     62170.62
low_x                       59868.0
close_x                    60313.35
volume_x               11381.025874
Unnamed: 0_y                  334.0
open_y                     61611.43
high_y                     62170.62
low_y                       59868.0
close_y                    60313.35
volume_y               11381.025874
Name: 15, dtype: object
'open'
2024-06-29 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  339.0
date            2024-06-29 00:00:00
open_x                     60312.36
high_x                     61122.66
low_x                       60273.8
close_x                    60885.67
volume_x                3199.036501
Unnamed: 0_y                  333.0
open_y                     60312.36
high_y                     61122.66
low_y                       60273.8
close_y                    60885.67
volume_y                3199.036501
Name: 16, dtype: object
'open'
2024-06-30 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  338.0
date            2024-06-30 00:00:00
open_x                     60884.44
high_x                     62942.67
low_x                      60611.01
close_x                    62668.26
volume_x                4263.229248
Unnamed: 0_y                  332.0
open_y                     60884.44
high_y                     62942.67
low_y                      60611.01
close_y                    62668.26
volume_y                4263.229248
Name: 17, dtype: object
'open'
2024-07-01 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  337.0
date            2024-07-01 00:00:00
open_x                     62669.14
high_x                     63801.26
low_x                      62448.46
close_x                    62830.13
volume_x               12326.706965
Unnamed: 0_y                  331.0
open_y                     62669.14
high_y                     63801.26
low_y                      62448.46
close_y                    62830.13
volume_y               12326.706965
Name: 18, dtype: object
'open'
2024-07-02 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  336.0
date            2024-07-02 00:00:00
open_x                     62830.94
high_x                     63223.57
low_x                       61000.0
close_x                    62040.22
volume_x               10688.641326
Unnamed: 0_y                  330.0
open_y                     62830.94
high_y                     63223.57
low_y                       61000.0
close_y                    62040.22
volume_y               10688.641326
Name: 19, dtype: object
'open'
2024-07-03 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  335.0
date            2024-07-03 00:00:00
open_x                     62039.44
high_x                     62197.01
low_x                      59332.76
close_x                    60145.01
volume_x               12066.716771
Unnamed: 0_y                  329.0
open_y                     62039.44
high_y                     62197.01
low_y                      59332.76
close_y                    60145.01
volume_y               12066.716771
Name: 20, dtype: object
'open'
2024-07-04 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  328.0
date            2024-07-04 00:00:00
open_x                     60145.01
high_x                     60429.27
low_x                      56709.73
close_x                    57042.14
volume_x               17969.356924
Unnamed: 0_y                  328.0
open_y                     60145.01
high_y                     60429.27
low_y                      56709.73
close_y                    57042.14
volume_y               17969.356924
Name: 21, dtype: object
'open'
2024-07-05 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  333.0
date            2024-07-05 00:00:00
open_x                     57036.45
high_x                      57515.6
low_x                       53499.9
close_x                    56639.43
volume_x               28052.415017
Unnamed: 0_y                  327.0
open_y                     57036.45
high_y                      57515.6
low_y                       53499.9
close_y                    56639.43
volume_y               28052.415017
Name: 22, dtype: object
'open'
2024-07-06 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  326.0
date            2024-07-06 00:00:00
open_x                     56634.53
high_x                     58481.97
low_x                      56020.32
close_x                    58244.75
volume_x                6449.325013
Unnamed: 0_y                  326.0
open_y                     56634.53
high_y                     58481.97
low_y                      56020.32
close_y                    58244.75
volume_y                6449.325013
Name: 23, dtype: object
'open'
2024-07-07 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  331.0
date            2024-07-07 00:00:00
open_x                     58240.36
high_x                     58448.89
low_x                      55717.23
close_x                    55854.09
volume_x                5320.916454
Unnamed: 0_y                  325.0
open_y                     58240.36
high_y                     58448.89
low_y                      55717.23
close_y                    55854.09
volume_y                5320.916454
Name: 24, dtype: object
'open'
2024-07-08 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  330.0
date            2024-07-08 00:00:00
open_x                     55852.61
high_x                      58200.0
low_x                      54278.93
close_x                    56699.43
volume_x               19043.048613
Unnamed: 0_y                  324.0
open_y                     55852.61
high_y                      58200.0
low_y                      54278.93
close_y                    56699.43
volume_y               19043.048613
Name: 25, dtype: object
'open'
2024-07-09 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  329.0
date            2024-07-09 00:00:00
open_x                     56701.18
high_x                     58295.31
low_x                      56276.37
close_x                    58047.86
volume_x               11757.760259
Unnamed: 0_y                  323.0
open_y                     56701.18
high_y                     58295.31
low_y                      56276.37
close_y                    58047.86
volume_y               11757.760259
Name: 26, dtype: object
'open'
2024-07-10 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  322.0
date            2024-07-10 00:00:00
open_x                     58047.86
high_x                     59481.93
low_x                      57157.28
close_x                    57712.59
volume_x               11619.632293
Unnamed: 0_y                  322.0
open_y                     58047.86
high_y                     59481.93
low_y                      57157.28
close_y                    57712.59
volume_y               11619.632293
Name: 27, dtype: object
'open'
2024-07-11 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  321.0
date            2024-07-11 00:00:00
open_x                      57713.4
high_x                     59533.06
low_x                      57036.41
close_x                    57340.77
volume_x               11433.533795
Unnamed: 0_y                  321.0
open_y                      57713.4
high_y                     59533.06
low_y                      57036.41
close_y                    57340.77
volume_y               11433.533795
Name: 28, dtype: object
'open'
2024-07-12 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  326.0
date            2024-07-12 00:00:00
open_x                     57343.66
high_x                      58550.0
low_x                      56538.33
close_x                    57909.03
volume_x               10516.604001
Unnamed: 0_y                  320.0
open_y                     57343.66
high_y                      58550.0
low_y                      56538.33
close_y                    57909.03
volume_y               10516.604001
Name: 29, dtype: object
'open'
2024-07-13 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  319.0
date            2024-07-13 00:00:00
open_x                     57908.61
high_x                      59875.0
low_x                      57770.92
close_x                    59224.58
volume_x                4255.105457
Unnamed: 0_y                  319.0
open_y                     57908.61
high_y                      59875.0
low_y                      57770.92
close_y                    59224.58
volume_y                4255.105457
Name: 30, dtype: object
'open'
2024-07-14 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  324.0
date            2024-07-14 00:00:00
open_x                     59224.58
high_x                     61428.67
low_x                       59209.2
close_x                    60808.42
volume_x                6132.374031
Unnamed: 0_y                  318.0
open_y                     59224.58
high_y                     61428.67
low_y                       59209.2
close_y                    60808.42
volume_y                6132.374031
Name: 31, dtype: object
'open'
2024-07-15 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  323.0
date            2024-07-15 00:00:00
open_x                     60804.97
high_x                     64943.61
low_x                      60666.59
close_x                    64757.16
volume_x                20601.73388
Unnamed: 0_y                  317.0
open_y                     60804.97
high_y                     64943.61
low_y                      60666.59
close_y                    64757.16
volume_y                20601.73388
Name: 32, dtype: object
'open'
2024-07-16 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  322.0
date            2024-07-16 00:00:00
open_x                     64757.16
high_x                     65405.89
low_x                      62410.33
close_x                    65088.99
volume_x               14691.920023
Unnamed: 0_y                  316.0
open_y                     64757.16
high_y                     65405.89
low_y                      62410.33
close_y                    65088.99
volume_y               14691.920023
Name: 33, dtype: object
'open'
2024-07-17 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  315.0
date            2024-07-17 00:00:00
open_x                     65086.55
high_x                      66139.0
low_x                      63853.99
close_x                    64085.81
volume_x               10647.797091
Unnamed: 0_y                  315.0
open_y                     65086.55
high_y                      66139.0
low_y                      63853.99
close_y                    64085.81
volume_y               10647.797091
Name: 34, dtype: object
'open'
2024-07-18 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  320.0
date            2024-07-18 00:00:00
open_x                     64085.82
high_x                     65130.88
low_x                       63222.6
close_x                    63982.86
volume_x                7637.527604
Unnamed: 0_y                  314.0
open_y                     64085.82
high_y                     65130.88
low_y                       63222.6
close_y                    63982.86
volume_y                7637.527604
Name: 35, dtype: object
'open'
2024-07-19 00:00:00
❌ Fehler bei Zeile: Unnamed: 0_x                  319.0
date            2024-07-19 00:00:00
open_x                     63977.64
high_x                     67504.22
low_x                      63289.15
close_x                    66707.61
volume_x               15163.057457
Unnamed: 0_y                  313.0
open_y                     63977.64
high_y                     67504.22
low_y                      63289.15
close_y                    66707.61
volume_y               15163.057457
Name: 36, dtype: object
'open'
2024-07-20 00:00:00

In [28]:
df.head()

          date      open      high       low     close       volume
349 2024-06-19  65150.90  65709.26  64635.48  64943.79  4958.383613
348 2024-06-20  64945.67  66455.52  64500.00  64840.88  9346.708079
347 2024-06-21  64840.89  65017.10  63300.93  64120.28  9816.795999
346 2024-06-22  64120.28  64523.91  63910.01  64235.01  2324.215004
345 2024-06-23  64235.00  64499.95  63125.75  63171.43  2054.790924

In [32]:
df_combined.head()

   Unnamed: 0       date      open      high       low     close        volume
0       349.0 2024-06-13  68248.59  68474.49  66200.00  66738.85  11916.132111
1       349.0 2024-06-13  68248.59  68474.49  66200.00  66738.85  11916.132111
2       348.0 2024-06-14  66746.46  67322.72  65005.00  66004.39  11520.157919
3       348.0 2024-06-14  66746.46  67322.72  65005.00  66004.39  11520.157919
4       347.0 2024-06-15  66004.36  66428.57  65800.86  66192.00   2004.142155

In [31]:
df_combined.tail()

,Unnamed: 0,date,open,high,low,close,volume
701,4.0,2025-05-30,105572.58,106377.66,103634.48,104033.26,7866.162412
702,3.0,2025-05-31,104033.00,104965.50,103110.01,104645.87,2403.608244
703,2.0,2025-06-01,104645.87,105937.46,103800.81,105697.94,2369.928916
704,1.0,2025-06-02,105697.93,106000.00,103685.23,105904.94,5818.585225
705,0.0,2025-06-03,105909.79,106474.89,105798.68,106302.91,193.137262



**Wichtig:**  
- Passe `"bitcoin_old.csv"` ggf. an deinen Dateinamen an.
- Achte darauf, dass die Spaltennamen in beiden CSV-Dateien gleich sind (insbesondere `"date"`).

Damit hast du alle alten und neuen Daten in einer Datei und kannst sie wie gewohnt in die Datenbank laden.

In [37]:
import os
import psycopg
import pandas as pd
from datetime import datetime
from dotenv import load_dotenv

# .env laden
load_dotenv()
dbconn = os.getenv("DATABASE_URL")

# df = ... (dein DataFrame aus Webscraping, wie vorher erstellt)

def insert_df_to_db(df_combined):
    conn = psycopg.connect(dbconn)
    cur = conn.cursor()

    for _, row in df.iterrows():
        print(row['date']) 
        try:
            # Datum ggf. anpassen (z. B. 02.06.2025)
            date = row['date'].date()
            open = row['open']
            high = row['high']
            low = row['low']
            close = row['close']
            volume = row['volume']


    

            cur.execute(
                '''
                INSERT INTO api_data(date, open,high,low,close,volume)
                VALUES (%s, %s, %s, %s, %s, %s)
                ON CONFLICT DO NOTHING;
                ''',
                (date, open,high,low,close,volume)
            )
        except Exception as e:
            print(f"❌ Fehler bei Zeile: {row}\n{e}")

    conn.commit()
    cur.close()
    conn.close()
    print("✅ Datenbank aktualisiert.")

insert_df_to_db(df)

2024-06-19 00:00:00
2024-06-20 00:00:00
2024-06-21 00:00:00
2024-06-22 00:00:00
2024-06-23 00:00:00
2024-06-24 00:00:00
2024-06-25 00:00:00
2024-06-26 00:00:00
2024-06-27 00:00:00
2024-06-28 00:00:00
2024-06-29 00:00:00
2024-06-30 00:00:00
2024-07-01 00:00:00
2024-07-02 00:00:00
2024-07-03 00:00:00
2024-07-04 00:00:00
2024-07-05 00:00:00
2024-07-06 00:00:00
2024-07-07 00:00:00
2024-07-08 00:00:00
2024-07-09 00:00:00
2024-07-10 00:00:00
2024-07-11 00:00:00
2024-07-12 00:00:00
2024-07-13 00:00:00
2024-07-14 00:00:00
2024-07-15 00:00:00
2024-07-16 00:00:00
2024-07-17 00:00:00
2024-07-18 00:00:00
2024-07-19 00:00:00
2024-07-20 00:00:00
2024-07-21 00:00:00
2024-07-22 00:00:00
2024-07-23 00:00:00
2024-07-24 00:00:00
2024-07-25 00:00:00
2024-07-26 00:00:00
2024-07-27 00:00:00
2024-07-28 00:00:00
2024-07-29 00:00:00
2024-07-30 00:00:00
2024-07-31 00:00:00
2024-08-01 00:00:00
2024-08-02 00:00:00
2024-08-03 00:00:00
2024-08-04 00:00:00
2024-08-05 00:00:00
2024-08-06 00:00:00
2024-08-07 00:00:00
2024-08-08 00:00:00
2024-08-09 00:00:00
2024-08-10 00:00:00
2024-08-11 00:00:00
2024-08-12 00:00:00
2024-08-13 00:00:00
2024-08-14 00:00:00
2024-08-15 00:00:00
2024-08-16 00:00:00
2024-08-17 00:00:00
2024-08-18 00:00:00
2024-08-19 00:00:00
2024-08-20 00:00:00
2024-08-21 00:00:00
2024-08-22 00:00:00
2024-08-23 00:00:00
2024-08-24 00:00:00
2024-08-25 00:00:00
2024-08-26 00:00:00
2024-08-27 00:00:00
2024-08-28 00:00:00
2024-08-29 00:00:00
2024-08-30 00:00:00
2024-08-31 00:00:00
2024-09-01 00:00:00
2024-09-02 00:00:00
2024-09-03 00:00:00
2024-09-04 00:00:00
2024-09-05 00:00:00
2024-09-06 00:00:00
2024-09-07 00:00:00
2024-09-08 00:00:00
2024-09-09 00:00:00
2024-09-10 00:00:00
2024-09-11 00:00:00
2024-09-12 00:00:00
2024-09-13 00:00:00
2024-09-14 00:00:00
2024-09-15 00:00:00
2024-09-16 00:00:00
2024-09-17 00:00:00
2024-09-18 00:00:00
2024-09-19 00:00:00
2024-09-20 00:00:00
2024-09-21 00:00:00
2024-09-22 00:00:00
2024-09-23 00:00:00
2024-09-24 00:00:00
2024-09-25 00:00:00
2024-09-26 00:00:00
2024-09-27 00:00:00
2024-09-28 00:00:00
2024-09-29 00:00:00
2024-09-30 00:00:00
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-05 00:00:00
2024-10-06 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-12 00:00:00
2024-10-13 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-19 00:00:00
2024-10-20 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-26 00:00:00
2024-10-27 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
2024-11-01 00:00:00
2024-11-02 00:00:00
2024-11-03 00:00:00
2024-11-04 00:00:00
2024-11-05 00:00:00
2024-11-06 00:00:00
2024-11-07 00:00:00
2024-11-08 00:00:00
2024-11-09 00:00:00
2024-11-10 00:00:00
2024-11-11 00:00:00
2024-11-12 00:00:00
2024-11-13 00:00:00
2024-11-14 00:00:00
2024-11-15 00:00:00
2024-11-16 00:00:00
2024-11-17 00:00:00
2024-11-18 00:00:00
2024-11-19 00:00:00
2024-11-20 00:00:00
2024-11-21 00:00:00
2024-11-22 00:00:00
2024-11-23 00:00:00
2024-11-24 00:00:00
2024-11-25 00:00:00
2024-11-26 00:00:00
2024-11-27 00:00:00
2024-11-28 00:00:00
2024-11-29 00:00:00
2024-11-30 00:00:00
2024-12-01 00:00:00
2024-12-02 00:00:00
2024-12-03 00:00:00
2024-12-04 00:00:00
2024-12-05 00:00:00
2024-12-06 00:00:00
2024-12-07 00:00:00
2024-12-08 00:00:00
2024-12-09 00:00:00
2024-12-10 00:00:00
2024-12-11 00:00:00
2024-12-12 00:00:00
2024-12-13 00:00:00
2024-12-14 00:00:00
2024-12-15 00:00:00
2024-12-16 00:00:00
2024-12-17 00:00:00
2024-12-18 00:00:00
2024-12-19 00:00:00
2024-12-20 00:00:00
2024-12-21 00:00:00
2024-12-22 00:00:00
2024-12-23 00:00:00
2024-12-24 00:00:00
2024-12-25 00:00:00
2024-12-26 00:00:00
2024-12-27 00:00:00
2024-12-28 00:00:00
2024-12-29 00:00:00
2024-12-30 00:00:00
2024-12-31 00:00:00
2025-01-01 00:00:00
2025-01-02 00:00:00
2025-01-03 00:00:00
2025-01-04 00:00:00
2025-01-05 00:00:00
2025-01-06 00:00:00
2025-01-07 00:00:00
2025-01-08 00:00:00
2025-01-09 00:00:00
2025-01-10 00:00:00
2025-01-11 00:00:00
2025-01-12 00:00:00
2025-01-13 00:00:00
2025-01-14 00:00:00
2025-01-15 00:00:00
2025-01-16 00:00:00
2025-01-17 00:00:00
2025-01-18 00:00:00
2025-01-19 00:00:00
2025-01-20 00:00:00
2025-01-21 00:00:00
2025-01-22 00:00:00
2025-01-23 00:00:00
2025-01-24 00:00:00
2025-01-25 00:00:00
2025-01-26 00:00:00
2025-01-27 00:00:00
2025-01-28 00:00:00
2025-01-29 00:00:00
2025-01-30 00:00:00
2025-01-31 00:00:00
2025-02-01 00:00:00
2025-02-02 00:00:00
2025-02-03 00:00:00
2025-02-04 00:00:00
2025-02-05 00:00:00
2025-02-06 00:00:00
2025-02-07 00:00:00
2025-02-08 00:00:00
2025-02-09 00:00:00
2025-02-10 00:00:00
2025-02-11 00:00:00
2025-02-12 00:00:00
2025-02-13 00:00:00
2025-02-14 00:00:00
2025-02-15 00:00:00
2025-02-16 00:00:00
2025-02-17 00:00:00
2025-02-18 00:00:00
2025-02-19 00:00:00
2025-02-20 00:00:00
2025-02-21 00:00:00
2025-02-22 00:00:00
2025-02-23 00:00:00
2025-02-24 00:00:00
2025-02-25 00:00:00
2025-02-26 00:00:00
2025-02-27 00:00:00
2025-02-28 00:00:00
2025-03-01 00:00:00
2025-03-02 00:00:00
2025-03-03 00:00:00
2025-03-04 00:00:00
2025-03-05 00:00:00
2025-03-06 00:00:00
2025-03-07 00:00:00
2025-03-08 00:00:00
2025-03-09 00:00:00
2025-03-10 00:00:00
2025-03-11 00:00:00
2025-03-12 00:00:00
2025-03-13 00:00:00
2025-03-14 00:00:00
2025-03-15 00:00:00
2025-03-16 00:00:00
2025-03-17 00:00:00
2025-03-18 00:00:00
2025-03-19 00:00:00
2025-03-20 00:00:00
2025-03-21 00:00:00
2025-03-22 00:00:00
2025-03-23 00:00:00
2025-03-24 00:00:00
2025-03-25 00:00:00
2025-03-26 00:00:00
2025-03-27 00:00:00
2025-03-28 00:00:00
2025-03-29 00:00:00
2025-03-30 00:00:00
2025-03-31 00:00:00
2025-04-01 00:00:00
2025-04-02 00:00:00
2025-04-03 00:00:00
2025-04-04 00:00:00
2025-04-05 00:00:00
2025-04-06 00:00:00
2025-04-07 00:00:00
2025-04-08 00:00:00
2025-04-09 00:00:00
2025-04-10 00:00:00
2025-04-11 00:00:00
2025-04-12 00:00:00
2025-04-13 00:00:00
2025-04-14 00:00:00
2025-04-15 00:00:00
2025-04-16 00:00:00
2025-04-17 00:00:00
2025-04-18 00:00:00
2025-04-19 00:00:00
2025-04-20 00:00:00
2025-04-21 00:00:00
2025-04-22 00:00:00
2025-04-23 00:00:00
2025-04-24 00:00:00
2025-04-25 00:00:00
2025-04-26 00:00:00
2025-04-27 00:00:00
2025-04-28 00:00:00
2025-04-29 00:00:00
2025-04-30 00:00:00
2025-05-01 00:00:00
2025-05-02 00:00:00
2025-05-03 00:00:00
2025-05-04 00:00:00
2025-05-05 00:00:00
2025-05-06 00:00:00
2025-05-07 00:00:00
2025-05-08 00:00:00
2025-05-09 00:00:00
2025-05-10 00:00:00
2025-05-11 00:00:00
2025-05-12 00:00:00
2025-05-13 00:00:00
2025-05-14 00:00:00
2025-05-15 00:00:00
2025-05-16 00:00:00
2025-05-17 00:00:00
2025-05-18 00:00:00
2025-05-19 00:00:00
2025-05-20 00:00:00
2025-05-21 00:00:00
2025-05-22 00:00:00
2025-05-23 00:00:00
2025-05-24 00:00:00
2025-05-25 00:00:00
2025-05-26 00:00:00
2025-05-27 00:00:00
2025-05-28 00:00:00
2025-05-29 00:00:00
2025-05-30 00:00:00
2025-05-31 00:00:00
2025-06-01 00:00:00
2025-06-02 00:00:00
2025-06-03 00:00:00
✅ Datenbank aktualisiert.

   '''
        CREATE TABLE IF NOT EXISTS api_data (
            date TIMESTAMP PRIMARY KEY,
            open FLOAT,
            high FLOAT,
            low FLOAT,
            close FLOAT,
            volume FLOAT
        );
        '''

    cur.execute(
        '''
          CREATE TABLE news_ticker (
    date DATE,
    title TEXT
);